<footer class="footer">
    <div class="container">
        <div class="tel-map">
            <div class="tel">
                <div class="number">
                    <i class="icon-tel"></i>
                    <p>7757 (А1, МТС)</p>
                </div>
                <a href="javascript:void(0)">
                    <i class="icon-drop"></i>
                </a>
            </div>
            <div class="map">
                <div class="item">
                    <i class="icon-map"></i>
                    <strong>Минск</strong>
                    <span>Грибоедова 11</span>
                </div>
                <div class="item">
                    <i class="icon-map"></i>
                    <strong>Минск</strong>
                    <span>Грибоедова 11</span>
                </div>
                <div class="item">
                    <i class="icon-map"></i>
                    <strong>Минск</strong>
                    <span>Грибоедова 11</span>
                </div>
            </div>
        </div>
        <div class="icons-social">
            <div class="icons-one">
                <span>Медавеню в социальных сетях:</span>
                <a href="javascript:void(0)" class="social"><i class="icon-facebook"></i></a>
                <a href="javascript:void(0)" class="social"><i class="icon-instagram"></i></a>
                <a href="javascript:void(0)" class="social"><i class="icon-youtube"></i></a>
                <a href="javascript:void(0)" class="social"><i class="icon-vk"></i></a>
            </div>
            <div class="icons-messenger">
                <span>Мы отвечаем в мессенджерах:</span>
                <a href="javascript:void(0)" class="social"><i class="icon-facebook"></i></a>
                <a href="javascript:void(0)" class="social"><i class="icon-instagram"></i></a>
                <a href="javascript:void(0)" class="social"><i class="icon-youtube"></i></a>
                <a href="javascript:void(0)" class="social"><i class="icon-vk"></i></a>
            </div>
        </div>
        <div class="logo">
            <img class="mob" src="img/logo-footer.png" alt="">
            <img class="desktop" src="img/footer-logo-full.png" alt="">
            <span>18+</span>
            <div class="text">
                <p>© ООО «МЕДАВЕНЮ» УНП 192415181</p>
                <a href="javascript:void(0)">Лицензия № М-8163</a>
            </div>
            <div class="rating-centre">
                <div class="rating">
                    <ul>
                      <li><i class="icon-stock2"></i></li>
                      <li><i class="icon-stock2"></i></li>
                      <li><i class="icon-stock2"></i></li>
                      <li><i class="icon-stock2"></i></li>
                      <li><i class="icon-stock2"></i></li>
                    </ul>
                </div>
                <div class="text">
                    <p>Оценка Медицинского центра «МедАвеню» 4.3 на основе отзывов от 78 клиентов.</p>
                    <a href="javascript:void(0)">Пожаловаться директору</a>
                </div>
            </div>
            <a class="ministry" href="javascript:void(0)">
                <img src="img/minzdrav.png" alt="">
            </a>
        </div>
        
        <div class="footer-tagline">
            <p>ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА</p>
        </div>
        <div class="footer-text">
            <p>Медицинские услуги, лекарственные средства, в том числе методы лечения, медицинская техника имеют противопоказания к их применению и использованию. Существует также необходимость ознакомления с инструкцией по их применению и получения консультации специалиста. Данный сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой.</p>
        </div>
        <div class="footer-wrapper">
            <div class="footer-link-with-text">
                <div class="footer-link">
                    <a href="javascript:void(0)"><span>Политика конфиденциальности</span></a>
                    <span>|</span>
                    <a href="javascript:void(0)"><span> Пользовательское соглашение</span></a>
                    <span>|</span>
                    <a href="javascript:void(0)"><span>Правовая информация</span></a>
                </div>
                <div class="footer-text">
                    <p>Права на контент, тексты и изображения защищены. Копирование материалов запрещено. DMCA.com Protection Status</p>
                </div>
            </div>
            <div class="footer-links-icon">
                <div class="item">
                    <div class="text">
                        <p>Скачайте наше приложение:</p>
                    </div>
                    <div class="link-icons">
                        <a href="javascript:void(0)"><img src="img/android-icon.svg" alt=""></a>
                        <a href="javascript:void(0)"><img src="img/apple-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <p>Оплата на сайте:</p>
                        <a href="javascript:void(0)"><p>больше об оплате</p></a>
                    </div>
                    <div class="link-icons">
                        <a href="javascript:void(0)"><img src="img/mastercard-icon.svg" alt=""></a>
                        <a href="javascript:void(0)"><img src="img/visa-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <p>Создание сайта и интернет-маркетинг -  </p>
                    </div>
                    <div class="link-icons">
                        <a href="javascript:void(0)"><img src="img/octopance-icon.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

</footer>
