<section class="specialists">
    <div class="specialists-slider">
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img1.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img2.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img3.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img4.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img5.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img1.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img2.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img3.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img4.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
      <div>
        <div class="specialists-doctor">
          <a href="javascript:void(0)"></a>
          <div class="img">
            <img src="img/doctor-img5.jpg" alt="">
            <span class="video-play"><i class="icon-play"></i></span>
          </div>
          <h4>Иванов Иван Иванович</h4>
          <span class="rating"><i class="icon-stock2"></i>4,5 рейтинг <a href="javascript:void(0)">(150 отзывов)</a></span>
          <p>ПЛАСТИЧЕСКИЙ ХИРУРГ, ОНКОЛОГ-ХИРУРГ ВЫСШЕЙ КВАЛИФИКАЦИОННОЙ КАТЕГОРИИ</p>
        </div>
      </div>
    </div>
  </section>